hr {
    margin-top: -10px;
    width: 18rem;
    border: 1px solid white;
}
html {
    background-color: #191919;
}
body {
    margin: 0px;
}
p {
    font-family: 'Roboto Slab', serif;
    color: white;
    text-align: center;
    font-size: 1.1rem;
}
h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: normal;
    margin-top:  6pt;
    margin-bottom:  10pt;
    color: white;
}
#logo {
    height: auto;
    width: auto;
    max-width: 16rem;
    max-height: auto;
    position: absolute;
}
#gitlab-logo {
    margin-top: 3rem !important;
    margin:auto;
    height: auto;
    width: 8rem;
    display:block;
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 100pt;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
    background-color: #141419;
    background-repeat: repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -100;
}
.button {
    cursor:pointer;
    margin:auto;
    display:block;
    display: flex;
    height: 43px;
    border: none;
    outline: none;
    background: #F43A0A;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;
}
.button:hover {
    background: #c22b05;
}
.button_svg {
    height: 26px;
}
.button_text,
.button_icon {
    display: inline-flex;
    align-items: center;
    padding: 0 9px;
    height: 100%;
}
.button_icon {
    text-shadow: 2px 2px 5px red;
    padding: 0 3px;
}